/node_modules
/public/hot
/public/storage
/public/css
/public/js
/storage/*.key
/public/images/signatures
/public/*/vendor/*
/public/mix-manifest.json
/public/albums/*
/public/build/*
/vendor
.env
.env.backup
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
vite.config.js.*
composer.lock
package-lock.json
mix-manifest.json
manifest.json
/tables_insert/*

